<app-header>
</app-header>
<div class="container">
  <div class="card" style="margin-top:50px">

    <h5 style="margin-left:10px;">About this Journal</h5>
    <div class="card-body" style="margin-left:10px;">
      <p>
        Online-Journals.org is a service provided by the non-profit International Association of Online Engineering. Its mission
        is to contribute to the advancement of science by providing an efficient and cost-effective way for making qualitative
        scientific results easily accessible to the largest possible audience. There are many categories of Journals :
        <br> - Academic/Scholarly Journals : To inform, report, and make available original research and new findings.
        <br> - Trade Journals : To report on industry trends, new products or techniques to people in a specific trade, business
        or profession.
        <br> - Current Affairs: To offer in-depth reporting and feature articles without scholarly conventions.
        <br>

      </p>
      <br>
      <br>
    </div>
  </div>

  <h4 style="margin-left:300px;">Resources for..</h4>
  <div class="row">
    <div class="column">
      <div class="card" style="width:220px">
        <div class="card-header" style="text-align:left; margin-left:70px;">Librarians</div>
        <div class="card-body">

          <img class="card-img-top" src="assets/Library.jpg" width="200" height="200" style="margin-left:10px;" alt=" Media And Education">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card" style="width:220px">
        <div class="card-header" style="text-align:left; margin-left:80px;">Society</div>
        <div class="card-body">

          <img class="card-img-top" src="assets/society.jpg" width="200" height="200" style="margin-left:10px;" alt="Society">
        </div>
      </div>
    </div>
    <div class="column">
        <div class="card" style="width:220px">
          <div class="card-header" style="text-align:left; margin-left:80px;">Authors</div>
          <div class="card-body">
  
            <img class="card-img-top" src="assets/Authors.jpg" width="200" height="200" style="margin-left:10px;" alt="Authors">
          </div>
        </div>
      </div>
  </div>




</div>